body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1191px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:762px;
}
#u0 {
  position:absolute;
  left:7px;
  top:8px;
  width:913px;
  height:762px;
}
#u1 {
  position:absolute;
  left:2px;
  top:373px;
  width:909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:37px;
  height:37px;
}
#u2 {
  position:absolute;
  left:686px;
  top:64px;
  width:27px;
  height:27px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:37px;
  height:37px;
}
#u4 {
  position:absolute;
  left:866px;
  top:65px;
  width:27px;
  height:27px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:37px;
  height:37px;
}
#u6 {
  position:absolute;
  left:174px;
  top:193px;
  width:27px;
  height:27px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:37px;
  height:37px;
}
#u8 {
  position:absolute;
  left:649px;
  top:189px;
  width:27px;
  height:27px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u11 {
  position:absolute;
  left:631px;
  top:191px;
  width:15px;
  height:23px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u13 {
  position:absolute;
  left:632px;
  top:193px;
  width:12px;
  height:19px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:972px;
  top:170px;
  width:166px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:972px;
  top:250px;
  width:219px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:972px;
  top:330px;
  width:208px;
  height:48px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:972px;
  top:442px;
  width:208px;
  height:48px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:54px;
}
#u23 {
  position:absolute;
  left:972px;
  top:554px;
  width:208px;
  height:54px;
  font-size:14px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:921px;
  top:167px;
  width:27px;
  height:27px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:921px;
  top:244px;
  width:27px;
  height:27px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:921px;
  top:340px;
  width:27px;
  height:27px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:921px;
  top:456px;
  width:27px;
  height:27px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:921px;
  top:564px;
  width:27px;
  height:27px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
